<?xml version="1.0" encoding="UTF-8"?>
 
<configuration>
    <system.webServer>
        <rewrite>
        <rules>
        <clear />
 
        <!-- ignore static files -->
        <rule name="Rewrite for dist files">
            <match url="(.css|.js|.html)" />
            <action type="Rewrite" url="dist/{R:1}" />
        </rule>
 
        </rules>
        </rewrite>
    </system.webServer>
</configuration>