@font-face {
    font-family: 'ShadowsIntoLight';
    font-style: normal;
    font-weight: normal;
    src: url('../../theme/fonts/ShadowsIntoLight-webfont.eot');
    src: url('../../theme/fonts/ShadowsIntoLight-webfont.eot?#iefix') format('embedded-opentype'), url('../../theme/fonts/ShadowsIntoLight-webfont.woff') format('woff'), url('../../theme/fonts/ShadowsIntoLight-webfont.ttf') format('truetype'), url('../../theme/fonts/ShadowsIntoLight-webfont.svg#robotoregular') format('svg');
}

.btn-inherit-primary {
    color: inherit;
    background-color: transparent;
    border-color: inherit !important;
}

.btn:active:active,
.btn.active:active,
.btn:active.active,
.btn.active.active {
    box-shadow: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
    background-color: #404042 !important;
    border-color: #404042 !important;
    color: #ffffff !important;
}

.btn-default:active,
.btn-default.active {
    background-color: #333333 !important;
    border-color: #333333 !important;
    color: #ffffff !important;
}

.btn-primary:hover,
.btn-inherit-primary:hover,
.btn-primary:focus,
.btn-inherit-primary:focus,
.btn-primary.focus,
.btn-inherit-primary.focus,
.btn-primary.marked,
.btn-inherit-primary.marked {
    background-color: #00adef !important;
    border-color: #00adef !important;
    color: #ffffff !important;
}

.btn-primary:active,
.btn-inherit-primary:active,
.btn-primary.active,
.btn-inherit-primary.active {
    background-color: #009bd6 !important;
    border-color: #009bd6 !important;
    color: #ffffff !important;
}

.margin1 {
    margin: 14px !important;
}

.margin-top2 {
    margin-top: 28px !important;
}

.margin-top3 {
    margin-top: 42px !important;
}

.margin-vertical1 {
    margin-top: 14px !important;
    margin-bottom: 14px !important;
}

.margin-vertical2 {
    margin-top: 28px;
    margin-bottom: 28px;
}

.margin-right1 {
    margin-right: 14px !important;
}

.padding1 {
    padding: 14px !important;
}

.padding-bottom2 {
    padding-bottom: 28px;
}

.padding-left1 {
    padding-left: 14px !important;
}

.modal-open .navbar {
    padding-right: 17px;
}

.navbar-collapse.in {
    overflow-y: auto;
}

@media (min-width: 992px) {
    .navbar-collapse.in {
        overflow-y: visible;
    }
}

.navbar .navbar-brand {
    margin-top: 9px;
    height: 51px;
    text-indent: -9999px;
    width: 150px;
}

.navbar .navbar-toggle {
    background-color: #404042;
}

#navbar {
    font-family: "ArvoBold", Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    max-height: 480px;
}

    #navbar form {
        font-family: "RobotoRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

        #navbar form button {
            background-color: transparent;
        }

            #navbar form button:hover {
                color: #00adef;
            }

    #navbar .dropdown-menu {
        font-family: "RobotoRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    #navbar #myaccount_dropdown {
        width: 100%;
    }

    #navbar #discover_dropdown {
        min-width: 126px;
    }

    #navbar #create_dropdown {
        min-width: 107px;
    }

.panel {
    box-shadow: none !important;
}

    .panel.funded .img-wrapper {
        position: relative;
    }

        .panel.funded .img-wrapper:after {
            bottom: 0.25em;
            content: "";
            position: absolute;
            right: 0.5em;
        }

    .panel .img-wrapper {
        height: 220px;
        overflow: hidden;
    }

        .panel .img-wrapper > img {
            display: block;
            height: inherit;
            min-height: inherit;
            width: 100%;
        }

.panel-md {
    height: 20em;
    overflow: hidden;
    position: relative;
}

@media (max-width: 1199px) {
    .panel .img-wrapper {
        height: 180px;
    }
}

@media (max-width: 991px) {
    .panel .img-wrapper {
        height: 220px;
    }
}

@media (max-width: 767px) {
    .panel .img-wrapper {
        height: auto;
    }

    .panel-md {
        height: auto;
    }

        .panel-md:after {
            height: 0;
        }
}

.form-control:focus {
    background-color: #fafeff;
}

i.required-input {
    font-size: x-small;
    color: red;
    vertical-align: super;
}

.validation-error-label {
    color: #a94442;
}

div.validation-shock {
    -moz-animation: shock 200ms ease-in-out;
    -o-animation: shock 200ms ease-in-out;
    -webkit-animation: shock 200ms ease-in-out;
    animation: shock 200ms ease-in-out;
}

.jumbo-media {
    background-color: #333333;
    background-position: center bottom;
    background-size: cover;
    height: 550px;
    overflow: hidden;
    position: relative;
}

    .jumbo-media .media-object {
        bottom: 0;
        position: absolute;
        width: 100%;
    }

        .jumbo-media .media-object img {
            height: auto !important;
            width: 100% !important;
        }

    .jumbo-media .motto-wrapper {
        display: table;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }

        .jumbo-media .motto-wrapper .motto {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
        }

            .jumbo-media .motto-wrapper .motto h1 {
                font-size: 80px;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
            }

    .jumbo-media .jumbo-bar {
        background-color: rgba(0, 173, 239, 0.5);
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }

        .jumbo-media .jumbo-bar .col-sm-2.text-center {
            padding-left: 0;
            padding-right: 0;
        }

        .jumbo-media .jumbo-bar label {
            font-family: "ArvoBold", Georgia, "Times New Roman", Times, serif;
            font-size: 24px;
            font-weight: normal;
            color: #ffffff;
        }

@media (max-width: 1199px) {
    .jumbo-media {
        height: 400px;
    }

        .jumbo-media .motto-wrapper .motto h1 {
            font-size: 70px;
        }
}

@media (max-width: 991px) {
    .jumbo-media {
        height: 350px;
    }

        .jumbo-media .motto-wrapper .motto h1 {
            font-size: 50px;
        }

        .jumbo-media .jumbo-bar label {
            font-size: 18px;
            margin-top: 3px;
        }
}

@media (max-width: 767px) {
    .jumbo-media {
        height: 250px;
    }

        .jumbo-media .motto-wrapper .motto h1 {
            font-size: 40px;
        }
}

@media (max-width: 480px) {
    .jumbo-media {
        height: 180px;
    }

        .jumbo-media .motto-wrapper .motto h1 {
            font-size: 25px;
        }
}

@media (min-width: 1199px) and (max-width: 1367px) {
    .jumbo-media {
        height: 400px;
    }
}

.sh-hives.hive-symbol {
    position: relative;
}

    .sh-hives.hive-symbol:before {
        left: -50px;
        pointer-events: none;
        position: absolute;
        top: -177px;
        z-index: 1;
    }

.sh-hives.row {
    margin-left: -6px;
    margin-right: -6px;
}

.sh-hives > .col-sm-5,
.sh-hives > .col-sm-7 {
    padding-left: 6px;
    padding-right: 6px;
}

.sh-hives .hive {
    color: #ffffff;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

    .sh-hives .hive .img-wrapper {
        height: 100%;
        overflow: hidden;
        position: relative;
    }

        .sh-hives .hive .img-wrapper > img {
            max-height: 200%;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

    .sh-hives .hive .hive-info-wrapper {
        background-color: rgba(0, 0, 0, 0.4);
        bottom: 0;
        display: table;
        height: 100%;
        overflow: hidden;
        padding: 0 40px;
        position: absolute;
        width: 100%;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }

        .sh-hives .hive .hive-info-wrapper .hive-info {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
        }

            .sh-hives .hive .hive-info-wrapper .hive-info h3 {
                line-height: 1em;
            }

            .sh-hives .hive .hive-info-wrapper .hive-info .hive-intro {
                max-height: 0;
                overflow: hidden;
                -webkit-transition: all 600ms ease-in-out;
                -moz-transition: all 600ms ease-in-out;
                -o-transition: all 600ms ease-in-out;
                transition: all 600ms ease-in-out;
            }

        .sh-hives .hive .hive-info-wrapper.cyan {
            background-color: rgba(24, 171, 227, 0.5);
        }

        .sh-hives .hive .hive-info-wrapper.yellow {
            background-color: rgba(241, 186, 43, 0.5);
        }

        .sh-hives .hive .hive-info-wrapper.red {
            background-color: rgba(239, 77, 95, 0.5);
        }

        .sh-hives .hive .hive-info-wrapper.purple {
            background-color: rgba(143, 30, 110, 0.5);
        }

        .sh-hives .hive .hive-info-wrapper.lime {
            background-color: rgba(129, 195, 65, 0.5);
        }

    .sh-hives .hive a:hover .hive-info-wrapper,
    .sh-hives .hive a:active .hive-info-wrapper,
    .sh-hives .hive a:focus .hive-info-wrapper {
        background-color: rgba(123, 0, 70, 0.5);
        -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.6);
    }

        .sh-hives .hive a:hover .hive-info-wrapper strong,
        .sh-hives .hive a:active .hive-info-wrapper strong,
        .sh-hives .hive a:focus .hive-info-wrapper strong {
            text-decoration: underline;
        }

        .sh-hives .hive a:hover .hive-info-wrapper.cyan,
        .sh-hives .hive a:active .hive-info-wrapper.cyan,
        .sh-hives .hive a:focus .hive-info-wrapper.cyan {
            background-color: rgba(24, 171, 227, 0.75);
        }

        .sh-hives .hive a:hover .hive-info-wrapper.yellow,
        .sh-hives .hive a:active .hive-info-wrapper.yellow,
        .sh-hives .hive a:focus .hive-info-wrapper.yellow {
            background-color: rgba(241, 186, 43, 0.75);
        }

        .sh-hives .hive a:hover .hive-info-wrapper.red,
        .sh-hives .hive a:active .hive-info-wrapper.red,
        .sh-hives .hive a:focus .hive-info-wrapper.red {
            background-color: rgba(239, 77, 95, 0.75);
        }

        .sh-hives .hive a:hover .hive-info-wrapper.purple,
        .sh-hives .hive a:active .hive-info-wrapper.purple,
        .sh-hives .hive a:focus .hive-info-wrapper.purple {
            background-color: rgba(143, 30, 110, 0.75);
        }

        .sh-hives .hive a:hover .hive-info-wrapper.lime,
        .sh-hives .hive a:active .hive-info-wrapper.lime,
        .sh-hives .hive a:focus .hive-info-wrapper.lime {
            background-color: rgba(129, 195, 65, 0.75);
        }

.sh-hives .hive-lg {
    height: 460px;
}

    .sh-hives .hive-lg a:hover .hive-info-wrapper .hive-intro,
    .sh-hives .hive-lg a:active .hive-info-wrapper .hive-intro,
    .sh-hives .hive-lg a:focus .hive-info-wrapper .hive-intro {
        max-height: 460px !important;
    }

.sh-hives .hive-md {
    height: 224px;
}

    .sh-hives .hive-md a:hover .hive-info-wrapper .hive-intro,
    .sh-hives .hive-md a:active .hive-info-wrapper .hive-intro,
    .sh-hives .hive-md a:focus .hive-info-wrapper .hive-intro {
        max-height: 224px !important;
    }

@media (max-width: 991px) {
    .sh-hives.hive-symbol:before {
        z-index: -1;
        opacity: 0.75;
    }
}

.sh-linkboxes {
}

.white {
    color: #ffffff;
}

.bg-primary {
    background-color: #00adef;
}

.bg-secondary {
    background-color: #ebe827;
}

body {
    padding-top: 65px;
    min-width: 320px;
}

    body h1,
    body h2,
    body h3,
    body h4,
    body h5 {
        font-family: "ArvoBold", Georgia, "Times New Roman", Times, serif;
    }

    body .h1,
    body .h2,
    body .h3,
    body .h4,
    body .h5,
    body .h6 {
        font-family: "ArvoBold", Georgia, "Times New Roman", Times, serif;
    }

    body a[data-toggle="modal"] {
        cursor: pointer;
    }

    body .link-unstyled {
        text-decoration: none !important;
    }

        body .link-unstyled h1,
        body .link-unstyled h2,
        body .link-unstyled h3,
        body .link-unstyled h4,
        body .link-unstyled h5,
        body .link-unstyled h6,
        body .link-unstyled .h1,
        body .link-unstyled .h2,
        body .link-unstyled .h3,
        body .link-unstyled .h4,
        body .link-unstyled .h5,
        body .link-unstyled .h6,
        body .link-unstyled p,
        body .link-unstyled span,
        body .link-unstyled small {
            color: #222222;
        }

    body .link-unstyled-white {
        text-decoration: none !important;
    }

        body .link-unstyled-white h1,
        body .link-unstyled-white h2,
        body .link-unstyled-white h3,
        body .link-unstyled-white h4,
        body .link-unstyled-white h5,
        body .link-unstyled-white h6,
        body .link-unstyled-white .h1,
        body .link-unstyled-white .h2,
        body .link-unstyled-white .h3,
        body .link-unstyled-white .h4,
        body .link-unstyled-white .h5,
        body .link-unstyled-white .h6,
        body .link-unstyled-white p,
        body .link-unstyled-white span,
        body .link-unstyled-white strong,
        body .link-unstyled-white small {
            color: #ffffff;
        }

    body a.hover-fx-1:hover .img-wrapper > img,
    body a.hover-fx-1:active .img-wrapper > img,
    body a.hover-fx-1:focus .img-wrapper > img {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

    body a.hover-fx-1:hover .panel-body,
    body a.hover-fx-1:active .panel-body,
    body a.hover-fx-1:focus .panel-body {
        background-color: #e1f6fa;
    }

    body a.hover-fx-1 .img-wrapper > img {
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }

    body a.hover-fx-1 .panel-body {
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }

    body > footer {
        background-color: #404042;
        color: #ffffff;
        padding: 65px 0 32.5px;
    }

        body > footer ul + h4 {
            margin-top: 1em;
        }

        body > footer li {
            line-height: 1em;
            margin-bottom: 0.5em;
        }

        body > footer a {
            color: #ffffff !important;
        }

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
    display: none !important;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

    a:active,
    a:hover {
        outline: 0;
    }

b,
strong {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

small {
    font-size: 80%;
}

img {
    border: 0;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled],
    html input[disabled] {
        cursor: default;
    }

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

input {
    line-height: normal;
}

    input[type="checkbox"],
    input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    select {
        background: #fff !important;
    }

    .navbar {
        display: none;
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../bootstrap-3.3.2/fonts/glyphicons-halflings-regular.eot');
    src: url('../../bootstrap-3.3.2/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../bootstrap-3.3.2/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../bootstrap-3.3.2/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../bootstrap-3.3.2/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../bootstrap-3.3.2/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "RobotoRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #222222;
    background-color: #ffffff;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #00adef;
    text-decoration: none;
}

    a:hover,
    a:focus {
        color: #404042;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 16px;
}

p {
    margin: 0 0 10px;
}

small,
.small {
    font-size: 85%;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: #898989;
}

.text-primary {
    color: #00adef;
}

.bg-primary {
    color: #fff;
    background-color: #00adef;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

    ul ul,
    ol ul,
    ul ol,
    ol ol {
        margin-bottom: 0;
    }

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

    .list-inline > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-4 {
    width: 33.33333333%;
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

    input[type="file"]:focus,
    input[type="radio"]:focus,
    input[type="checkbox"]:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .form-control::-moz-placeholder {
        color: #999999;
        opacity: 1;
    }

    .form-control:-ms-input-placeholder {
        color: #999999;
    }

    .form-control::-webkit-input-placeholder {
        color: #999999;
    }

.form-group {
    margin-bottom: 15px;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

    .has-error .form-control:focus {
        border-color: #843534;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    }

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn:hover,
    .btn:focus,
    .btn.focus {
        color: #333333;
        text-decoration: none;
    }

    .btn:active,
    .btn.active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.btn-default {
    color: #333333;
    background-color: rgba(0, 0, 0, 0);
    border-color: #404042;
}

    .btn-default:hover,
    .btn-default:focus,
    .btn-default.focus,
    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        color: #333333;
        background-color: rgba(0, 0, 0, 0);
        border-color: #222223;
    }

    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        background-image: none;
    }

.btn-primary {
    color: #00adef;
    background-color: rgba(0, 0, 0, 0);
    border-color: #00adef;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        color: #00adef;
        background-color: rgba(0, 0, 0, 0);
        border-color: #0081b2;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        background-image: none;
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled.focus,
    .btn-primary[disabled].focus,
    fieldset[disabled] .btn-primary.focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        background-color: rgba(0, 0, 0, 0);
        border-color: #00adef;
    }

.btn-info {
    color: #ffffff;
    background-color: #4dcae3;
    border-color: #37c3e0;
}

    .btn-info:hover,
    .btn-info:focus,
    .btn-info.focus,
    .btn-info:active,
    .btn-info.active,
    .open > .dropdown-toggle.btn-info {
        color: #ffffff;
        background-color: #22bcdb;
        border-color: #1ea1bc;
    }

    .btn-info:active,
    .btn-info.active,
    .open > .dropdown-toggle.btn-info {
        background-image: none;
    }

.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

    .fade.in {
        opacity: 1;
    }

.collapse {
    display: none;
    visibility: hidden;
}

    .collapse.in {
        display: block;
        visibility: visible;
    }

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333333;
        white-space: nowrap;
    }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5;
        }

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

@media (min-width: 992px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

    .input-group .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
    }

    .input-group-addon,
    .input-group-btn,
    .input-group .form-control {
        display: table-cell;
    }

        .input-group-addon:not(:first-child):not(:last-child),
        .input-group-btn:not(:first-child):not(:last-child),
        .input-group .form-control:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

    .input-group .form-control:first-child,
    .input-group-addon:first-child,
    .input-group-btn:first-child > .btn,
    .input-group-btn:first-child > .btn-group > .btn,
    .input-group-btn:first-child > .dropdown-toggle,
    .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
    .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

        .input-group .form-control:last-child,
        .input-group-addon:last-child,
        .input-group-btn:last-child > .btn,
        .input-group-btn:last-child > .btn-group > .btn,
        .input-group-btn:last-child > .dropdown-toggle,
        .input-group-btn:first-child > .btn:not(:first-child),
        .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

    .input-group-btn > .btn {
        position: relative;
    }

        .input-group-btn > .btn:hover,
        .input-group-btn > .btn:focus,
        .input-group-btn > .btn:active {
            z-index: 2;
        }

    .input-group-btn:first-child > .btn,
    .input-group-btn:first-child > .btn-group {
        margin-right: -1px;
    }

    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group {
        margin-left: -1px;
    }

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

    .nav > li {
        position: relative;
        display: block;
    }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

            .nav > li > a:hover,
            .nav > li > a:focus {
                text-decoration: none;
                background-color: #eeeeee;
            }

    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: #eeeeee;
        border-color: #00adef;
    }

.navbar {
    position: relative;
    min-height: 65px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

@media (min-width: 992px) {
    .navbar {
        border-radius: 2px;
    }
}

@media (min-width: 992px) {
    .navbar-header {
        float: left;
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 992px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

        .navbar-collapse.collapse {
            display: block !important;
            visibility: visible !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 992px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 992px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-brand {
    float: left;
    padding: 22.5px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 65px;
}

    .navbar-brand:hover,
    .navbar-brand:focus {
        text-decoration: none;
    }

@media (min-width: 992px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 15.5px;
    margin-bottom: 15.5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

    .navbar-toggle:focus {
        outline: 0;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

        .navbar-toggle .icon-bar + .icon-bar {
            margin-top: 4px;
        }

@media (min-width: 992px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-nav {
    margin: 11.25px -15px;
}

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }

@media (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }

        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }

            .navbar-nav .open .dropdown-menu > li > a:hover,
            .navbar-nav .open .dropdown-menu > li > a:focus {
                background-image: none;
            }
}

@media (min-width: 992px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

        .navbar-nav > li {
            float: left;
        }

            .navbar-nav > li > a {
                padding-top: 22.5px;
                padding-bottom: 22.5px;
            }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 15.5px;
    margin-bottom: 15.5px;
}

@media (min-width: 768px) {
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }

        .navbar-form .input-group .input-group-addon,
        .navbar-form .input-group .input-group-btn,
        .navbar-form .input-group .form-control {
            width: auto;
        }

        .navbar-form .input-group > .form-control {
            width: 100%;
        }
}

@media (min-width: 992px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

@media (min-width: 992px) {
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }

        .navbar-right ~ .navbar-right {
            margin-right: 0;
        }
}

.navbar-default {
    background-color: #ffffff;
    border-color: #eeeeee;
}

    .navbar-default .navbar-brand {
        color: #333333;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #1a1a1a;
            background-color: transparent;
        }

    .navbar-default .navbar-nav > li > a {
        color: #333333;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #00adef;
            background-color: transparent;
        }

    .navbar-default .navbar-toggle {
        border-color: transparent;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #00adef;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #eeeeee;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: #00adef;
        color: #ffffff;
    }

@media (max-width: 991px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333333;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #00adef;
            background-color: transparent;
        }
}

.jumbotron {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eeeeee;
}

    .jumbotron p {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
    }

    .jumbotron .container {
        max-width: 100%;
    }

@media screen and (min-width: 768px) {
    .jumbotron {
        padding: 48px 0;
    }
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
}

.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #e1e1e1;
    border-radius: 8px;
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #00adef;
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-bar-success {
    background-color: #88c100;
}

.media-object {
    display: block;
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
    padding: 15px;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.panel-default {
    border-color: #dddddd;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

    .close:hover,
    .close:focus {
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modal.fade .modal-dialog {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000000;
}

    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .modal-backdrop.in {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}

    .modal-header .close {
        margin-top: -2px;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .modal-sm {
        width: 300px;
    }
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
    clear: both;
}

.pull-left {
    float: left !important;
}

@-ms-viewport {
    width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

.env-ribbon {
    position: fixed;
    cursor: default;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 999999;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.65);
}

    .env-ribbon > span {
        color: #fff;
        display: block;
        font: bold 8pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 1px 0;
        padding: 2px 4px;
        text-decoration: none;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
    }

    .env-ribbon.good {
        background-color: #006600;
    }

        .env-ribbon.good > span {
            border: 1px dashed #ccffcc;
        }

    .env-ribbon.bad {
        background-color: #aa0000;
    }

        .env-ribbon.bad > span {
            border: 1px dashed #ffffff;
        }

    .env-ribbon.a {
        left: -30px;
        top: 37px;
        width: 152px;
    }

        .env-ribbon.a > span {
            text-align: center;
        }

    .env-ribbon.b {
        left: -20px;
        top: 94px;
        width: 76px;
    }

        .env-ribbon.b > span {
            text-align: right;
        }

    .env-ribbon.c {
        left: 38px;
        top: 49px;
        width: 51px;
    }

        .env-ribbon.c > span {
            text-align: center;
        }

    .env-ribbon.d {
        left: 70px;
        top: 3px;
        width: 80px;
    }

        .env-ribbon.d > span {
            text-align: left;
        }



.img-circle {
    border-radius: 50%;
}

.imageProfileLinkContainer {
    padding-top: 0 !important;
}

    .imageProfileLinkContainer .imageAndProfileContainer {
        position: relative;
        top: 7px;
    }

        .imageProfileLinkContainer .imageAndProfileContainer img {
            display: inline-block;
        }

        .imageProfileLinkContainer .imageAndProfileContainer .userName {
            margin-left: 7px;
            max-width: 150px;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            margin-right: 5px;
            vertical-align: middle;
        }

.border-lightgray {
    border-color: #ccc;
}

.jumbo-media img:not([src]),
.videoImage:not([src]) {
    visibility: hidden;
}

#logoutMenu {
    min-width: 160px;
}


@media (min-width: 992px) {
    .imageProfileLinkContainer .imageAndProfileContainer {
        top: 15px;
    }
}

@media (max-width: 1199px) and  (min-width: 992px) {
    .navbar-form .input-group > .form-control.searchBox {
        width: 135px;
    }
}
