// Core variables and mixins
@import "_variables.less";

//
// Project Tabs
// --------------------------------------------------

.nav-level1 .active a {
    background-color: @brand-primary !important;
    color: @white !important;
}

.nav-level2 {
    background-color: @brand-primary !important;
    padding: @font-size-base/4 @font-size-base/4 0 !important;
}

.nav-level2 a {
    color: @white;
}
