@import "_variables.less";

.projectOptions {
    .panel-body {
        padding: 28px;
    }

    .panel-default > .panel-heading {
        cursor: pointer;
        padding: 0;

        a {
            display: block;
            padding: 10px 15px;
        }
    }
}
